/* Document */
*{margin:0; padding:0;}

body {
  color: white;

  width: 1000px;
  background-color: black;
  margin: 10px auto;
}

/* Headings */
h1 {
  font-size: 40pt;
  text-align: center;
  font-weight: bold;

  padding-bottom: 5pt;
  border-bottom: solid white 2px;
  margin-bottom: 10pt;
}

h2 {
  font-size: 30pt;

  padding-bottom: 5pt;
  border-bottom: solid white 2px;
  margin-bottom: 10pt;
}

/* Éléments */
canvas {
  display: block;

  font-size: 40pt;
  color: red;

  margin: 0px auto 10px auto;
  border: solid grey 40px;
}

p {
  font-size: 16pt;
  text-indent: 30pt;
}

a {
  color: #BBBBFF;
}
a[href^=http]::after {
	content: "";
	display: inline-block;
	margin-left: 0.4ex;
	width: 16px;
	height: 16px;
	background-image: url("imgs/lienExterne.png");
}
